* {
  box-sizing: border-box;
  font-family: Helvetica;
  color: #04034e;
}

body {
  margin: 0;
  height: 100vh;
  grid-template-rows: 50px 1fr;
  grid-template-areas: 
    "nav"
    "main"
}

body > nav {
  grid-area: nav;
  background-color: #ca9292;
  justify-content: flex-start;
  display: flex;
  align-items: center;
  padding: 0 10px 0 10px;
}

body > main {
  background-color: #E8ECEB;

}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav > a:hover {
  color: white;
  background-color: #424748;
}

table thead th {
  padding: 8px;
  border-bottom: 2px solid #04c7ee;
}
