<%- include('../partials/header') %>

<h2>Enter a New Flight</h2>
<form action="/flights" method="POST">
	<label>Airline:
		<input type="text" name="airline">
	</label><br>
	<label>Airport:</label>
    <select name="airport">
    <option value="AUS">AUS</option>
    <option value="DFW">DFW</option>
    <option value="SAN">SAN</option>
    <option value="LAX">LAX</option>
    <option value="DEN" selected>DEN</option>
    </select><br>
	<label>Flight Number
		<input type="number" name="flightNo">
	</label><br>
	<label>Departs
		<input type="datetime-local" name="departs">
    </label><br>
    <input type="submit" value="Add Flight">
</form>

<%- include('../partials/footer') %>
